<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="card my-2">
        <div class="card-body">
          <div class="d-flex">
            <h5 class="card-title flex-grow-1">Article title</h5>
            <h5 class="card-title">Date</h5>
          </div>
          <hr>
          <div class="d-flex">
            <p class="card-text flex-grow-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" class="btn btn-info">Save</button>
          </div>
        </div>
      </div>
       <div class="card my-2">
        <div class="card-body">
          <div class="d-flex">
            <h5 class="card-title flex-grow-1">Article title</h5>
            <h5 class="card-title">Date</h5>
          </div>
          <hr>
          <div class="d-flex">
            <p class="card-text flex-grow-1">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button type="button" class="btn btn-info">Save</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
        <p><button type="button" class="btn btn-primary w-100">Save</button></p>
        <p><button type="button" class="btn btn-success w-100">Scrap more</button></p>
        <p><button type="button" class="btn btn-warning w-100">Clear scrapped</button></p>
    </div>
  </div>
</div>