<div class="container">
  <div class="row">
    <div class="col-md-2">
       <p><a href="/" type="button" class="btn btn-primary w-100">Home</a></p>
        <p><a href="/saved" type="button" class="btn btn-primary w-100">Saved Articles</a></p>
        <p><a href="/scrape" type="button" class="btn btn-success w-100">Scrape more</a></p>
        <p><a href="/clear" type="button" class="btn btn-warning w-100">Clear scrapped</a></p>
    </div>
    <div class="col-md-10">
      {{#each articles}}
        {{> articles/article-block}}
      {{/each}}
    </div>
  </div>
</div>
<script src="assets/js/index.js"></script>